data "aws_iam_policy_document" "{{ name | tf_id }}_assume" {
  statement {
    actions = ["sts:AssumeRole"]

    principals {
      type        = "Service"
      identifiers = ["{{ service }}"]
    }
  }
}

resource "aws_iam_role" "{{ name | tf_id }}" {
  name               = "{{ name }}"
  assume_role_policy = data.aws_iam_policy_document.{{ name | tf_id }}_assume.json
}
{% for arn in policies %}
resource "aws_iam_role_policy_attachment" "{{ name | tf_id }}_{{ loop.index }}" {
  role       = aws_iam_role.{{ name | tf_id }}.name
  policy_arn = "{{ arn }}"
}
{% endfor %}
