resource "aws_lambda_function" "{{ name | tf_id }}" {
  function_name = "{{ name }}"
  role          = aws_iam_role.{{ role | tf_id }}.arn
{% if ecr_repo %}
  package_type = "Image"
  image_uri    = "${aws_ecr_repository.{{ ecr_repo | tf_id }}.repository_url}:latest"
{% elif image_uri %}
  package_type = "Image"
  image_uri    = "{{ image_uri }}"
{% else %}
  runtime = "{{ runtime }}"
  handler = "{{ handler }}"
{% endif %}
  memory_size = {{ memory_mb }}
  timeout     = {{ timeout_s }}
{% if environment %}
  environment {
    variables = {
{% for key, value in environment.items() %}
      {{ key }} = "{{ value }}"
{% endfor %}
    }
  }
{% endif %}
}
