resource "aws_lambda_function" "{{ name | tf_id }}" {
  function_name = "{{ name }}"
  role          = aws_iam_role.{{ role | tf_id }}.arn
{% if ecr_repo %}
  package_type = "Image"
  image_uri    = "${aws_ecr_repository.{{ ecr_repo | tf_id }}.repository_url}:latest"
{% elif image_uri %}
  package_type = "Image"
  image_uri    = "{{ image_uri }}"
{% else %}
  runtime = "{{ runtime }}"
  handler = "{{ handler }}"
{% endif %}
  memory_size = {{ memory }}
  timeout     = {{ timeout }}
{% if environment %}
  environment {
    variables = {
{%- for key, value in environment.items() %}
      {{ key }} = "{{ value }}"
{%- endfor %}
    }
  }
{% endif %}
{% if policy_count > 0 %}
  depends_on = [
{%- for i in range(1, policy_count + 1) %}
    aws_iam_role_policy_attachment.{{ role | tf_id }}_{{ i }},
{%- endfor %}
  ]
{% endif %}
}
