resource "aws_s3_bucket" "{{ name | tf_id }}" {
  bucket = "{{ name }}"
}
{% if versioning %}
resource "aws_s3_bucket_versioning" "{{ name | tf_id }}" {
  bucket = aws_s3_bucket.{{ name | tf_id }}.id

  versioning_configuration {
    status = "Enabled"
  }
}
{% endif %}
